/* Esercizo 1  */
.ex-1-square:hover {
    background-color: red;
}

/* Esercizio 2 */

.ex-2-square:active {
    width: 900px;
}

/* Esercizio 3 */

.ex-3-square:hover {
    border-radius: 50%;
}

/* Esercizio 4 */

.ex-4-square:hover {
    background-color: transparent;
}
